#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512

# Use network installation media
url --url="http://192.168.57.10/centos"

# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --ipv6=auto --activate
network  --hostname=netinstall.cncore

# Root password:123456
rootpw --iscrypted $6$eZYG19C1Ob8r1MGJ$sFjv4NY719IWd7ppeJ4Kf1GTfJvu69sMBVepw38wisNiZ9ilr/Y46x03D9Md.2Ztxjxghtrm9od7oe5ef8y8j.

# 
selinux --disabled

# System services
services --disabled="chronyd,firewalld"

# System timezone
timezone Asia/Shanghai --isUtc

# System bootloader configuration location option does not need to be specified
bootloader --append=" crashkernel=auto" --boot-drive=sda

# Partition clearing information
clearpart --all --initlabel --drives=sda

# Disk partitioning information
part pv.608 --fstype="lvmpv" --ondisk=sda --grow
part /boot  --fstype="xfs"   --ondisk=sda --size=1024
volgroup centos --pesize=4096 pv.608
logvol swap --fstype="swap" --size=2048 --name=swap --vgname=centos
logvol /    --fstype="xfs"  --size=4096 --grow       --name=root --vgname=centos

%packages
@^minimal
@core
chrony
kexec-tools
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
